<?php

/*
Sample atoum configuration file to publish code coverage report on coveralls.io.
Do "php path/to/test/file -c path/to/this/file" or "php path/to/atoum/scripts/runner.php -c path/to/this/file -f path/to/test/file" to use it.
*/

use
	\mageekguy\atoum,
	\mageekguy\atoum\reports
;

/*
This will ad the default CLI report
*/
$script->addDefaultReport();

/*
Publish code coverage report on coveralls.io
*/
$sources = '/path/to/sources/directory';
$token = 'YouCoverallsProjectToken';
$coverallsReport = new reports\asynchronous\coveralls($sources, $token);

/*
If you are using Travis-CI (or any other CI tool), you should customize the report
* https://coveralls.io/docs/api
* http://about.travis-ci.org/docs/user/ci-environment/#Environment-variables
* https://wiki.jenkins-ci.org/display/JENKINS/Building+a+software+project#Buildingasoftwareproject-JenkinsSetEnvironmentVariables
*/
$defaultFinder = $coverallsReport->getBranchFinder();
$coverallsReport
	->setBranchFinder(function() use ($defaultFinder) {
		if (($branch = getenv('TRAVIS_BRANCH')) === false)
		{
			$branch = $defaultFinder();
		}

		return $branch;
	})
	/*
	https://coveralls.zendesk.com/hc/en-us/articles/201774865-API-Introduction
	> Setting service_name to "travis-ci" and service_job_id to the Travis Job ID will automatically look up the appropriate build and repository, and assign the job correctly on Coveralls.
	*/
	->setServiceName(getenv('TRAVIS') ? 'travis-ci' : null)
	->setServiceJobId(getenv('TRAVIS_JOB_ID') ?: null)
	->addDefaultWriter()
;

$runner->addReport($coverallsReport);
