<?php

/*
Sample atoum configuration file for using atoum with vim.
*/

use \mageekguy\atoum;

/*
Write all on stdout.
*/
$stdOutWriter = new atoum\writers\std\out();

/*
Generate a VIM report.
*/
$vimReport = new atoum\reports\asynchronous\vim();
$vimReport->addWriter($stdOutWriter);

$runner->addReport($vimReport);
