<?php

use \mageekguy\atoum;

$builder
	->setWorkingDirectory('/path/to/working/directory')
	->setDestinationDirectory('/path/to/destination/directory')
	->setScoreDirectory('/path/to/scores/directory')
	->setErrorsDirectory('/path/to/errors/directory')
	->setRevisionFile('/path/to/revision/file')
	->addRunnerConfigurationFile('/path/to/runner/configuration/file')
	->setTaggerEngine(new atoum\scripts\tagger\engine())
	->setReportTitle('[%3$s] Nightly build of revision %4$s the %1$s at %2$s')
;
